black==19.10b0
cffi==1.14.0
Click==7.0
flake8==3.7.9
numpy==1.16.6
opencv-python==4.2.0.32
Pillow==8.3.2
prettytable==0.7.2
pyglet==1.5.0
torch==1.5.0
vi3o==0.9.1

# Needed for some of the training modules
#fastai
#tensorboardx
